// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

#image-resolution {
    font-size: 12px;
    text-align: center;
}

#downloader {
    cursor: pointer;
}
