<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}RWAR{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your
    browser</a> to improve your experience and security.
</p>
<![endif]-->
<main role="main" class="flex-shrink-0">
    <div class="container-fluid">
        <div id="subreddit-toolbar" class="row" style="padding-top: 10px">
            <div class="col-md-12" style="text-align: center; min-height: 20px">
                {% block toolbar %}{% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h4>Subreddits</h4>
                {% block sidebar %}{% endblock %}
                <a href="/admin/app/subreddit/list">Manage Subreddits</a><br/>
                <a href="{{ url('wallpaper') }}">Browse</a><br>
                <a href="{{ url('wallpaper_favourites') }}">Favourites</a>
            </div>

            <div style="position: absolute; bottom: 10px; left: 10px">
                {% if is_downloading %}
                    <span class="btn btn-sm btn-primary" id="downloader">Downloader Running</span>
                {% else %}
                    <span class="btn btn-sm btn-dark" id="downloader">Downloader Stopped</span>
                {% endif %}
            </div>

            <div class="col-md-8" style="text-align: center">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</main>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
